{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Events and Services{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Events and Services</h1>
        {% if events_services %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="20%"> Name </th>
                  <th width="40%"> Description </th>
                  <th width="20%"> Edit </th>
                  <th width="20%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for event_service in events_services %}
                <tr>
                  <td> {{ event_service.name }} </td>
                  <td> {{ event_service.description }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_event_service', id=event_service.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_event_service', id=event_service.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No events or services have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_event_service') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Event or Service
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}